In [1]:
# 01_data_cleaning.ipynb

import pandas as pd
import sys
sys.path.append('../scripts')

from data_cleaning import info_data, isDuplicate, isNull, save_data, date_to_months_and_year

data = pd.read_csv('../data/market_sales.csv')

info_data(data)

#There's no null or duplicates values in the data, so no need to remove them

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB
None

- Invoice ID: A unique identifier for each transaction.  
- Branch: The specific supermarket branch (e.g., A, B, C).  
- City: The city where the branch is located.  
- Customer Type: Indicates if the customer is a "Member" or "Normal."  
- Gender: Customer's gender for demographic insights.  
- Product Line: Product category (e.g., Groceries, Clothing).  
- Unit Price: Price per product unit.  
- Quantity: Units bought in a transaction.  
- Tax (5%): Tax amount (5% of the total before tax).  
- Total: Total paid, including tax.  
- Date/Time: Date and time of purchase, helpful for identifying peak hours.  
- Payment: Payment method (e.g., Cash, Credit Card).  
- COGS (Cost of Goods Sold): Production cost of the goods sold.  
- Gross Margin Percentage: Percentage difference between sales and COGS.  
- Gross Income: Income after deducting COGS.  
- Rating: Customer satisfaction rating (typically 1-5 scale).

In [2]:
data.head(20)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01/05/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03/08/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03/03/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02/08/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,01/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,02/06/2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,03/09/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,02/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
13,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,02/07/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,03/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,01/01/2019,10:39,Credit card,435.66,4.761905,21.7830,6.9
18,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,18:00,Credit card,164.01,4.761905,8.2005,8.6
19,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,03/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4

In [3]:
isNull(data)

Null data:
 Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [4]:
isDuplicate(data)

Duplicate data:
 0

In [5]:
#Removing the gross margin percentage column because already has a gross margin column
#Removing tax column because already has a total column that includes the tax and is something out of the control of the company
#Removing Invoice ID because it is not needed for the analysis
#Removing times because we are focusing on customer behavior by month

data = data.drop(columns=['gross margin percentage', 'Tax 5%', 'Invoice ID', 'Time'])

info_data(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Branch         1000 non-null   object
 1   City           1000 non-null   object
 2   Customer type  1000 non-null   object
 3   Gender         1000 non-null   object
 4   Product line   1000 non-null   object
 5   Unit price     1000 non-null   float64
 6   Quantity       1000 non-null   int64
 7   Total          1000 non-null   float64
 8   Date           1000 non-null   object
 9   Payment        1000 non-null   object
 10  cogs           1000 non-null   float64
 11  gross income   1000 non-null   float64
 12  Rating         1000 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 101.7+ KB
None

In [6]:
data = date_to_months_and_year(data)

data.head(20)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Total,Payment,cogs,gross income,Rating,Month,Year
0,A,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,Ewallet,522.83,26.1415,9.1,Jan,2019
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,Cash,76.40,3.8200,9.6,Mar,2019
2,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,Credit card,324.31,16.2155,7.4,Mar,2019
3,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,Ewallet,465.76,23.2880,8.4,Jan,2019
4,A,Yangon,Normal,Male,Sports and travel,86.31,7,634.3785,Ewallet,604.17,30.2085,5.3,Feb,2019
5,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,Ewallet,597.73,29.8865,4.1,Mar,2019
6,A,Yangon,Member,Female,Electronic accessories,68.84,6,433.6920,Ewallet,413.04,20.6520,5.8,Feb,2019
7,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,772.3800,Ewallet,735.60,36.7800,8.0,Feb,2019
8,A,Yangon,Member,Female,Health and beauty,36.26,2,76.1460,Credit card,72.52,3.6260,7.2,Jan,2019
9,B,Mandalay,Member,Female,Food and beverages,54.84,3,172.7460,Credit card,164.52,8.2260,5.9,Feb,2019
10,B,Mandalay,Member,Female,Fashion accessories,14.48,4,60.8160,Ewallet,57.92,2.8960,4.5,Feb,2019
11,B,Mandalay,Member,Male,Electronic accessories,25.51,4,107.1420,Cash,102.04,5.1020,6.8,Mar,2019
12,A,Yangon,Normal,Female,Electronic accessories,46.95,5,246.4875,Ewallet,234.75,11.7375,7.1,Feb,2019
13,A,Yangon,Normal,Male,Food and beverages,43.19,10,453.4950,Ewallet,431.90,21.5950,8.2,Feb,2019
14,A,Yangon,Normal,Female,Health and beauty,71.38,10,749.4900,Cash,713.80,35.6900,5.7,Mar,2019
15,B,Mandalay,Member,Female,Sports and travel,93.72,6,590.4360,Cash,562.32,28.1160,4.5,Jan,2019
16,A,Yangon,Member,Female,Health and beauty,68.93,7,506.6355,Credit card,482.51,24.1255,4.6,Mar,2019
17,A,Yangon,Normal,Male,Sports and travel,72.61,6,457.4430,Credit card,435.66,21.7830,6.9,Jan,2019
18,A,Yangon,Normal,Male,Food and beverages,54.67,3,172.2105,Credit card,164.01,8.2005,8.6,Jan,2019
19,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,84.6300,Ewallet,80.60,4.0300,4.4,Mar,2019

In [7]:
save_data(data, '../data/market_sales_cleaned.csv')