In [1]:
# 01_data_cleaning.ipynb

import pandas as pd
import sys
import os
sys.path.append('../scripts')

files = [file for file in os.listdir('../data/') if not file.startswith('.')]
files

['2000.xlsx',
 '2001.xlsx',
 '2002.xlsx',
 '2003.xlsx',
 '2004.xlsx',
 '2005.xlsx',
 '2006.xlsx',
 '2007.xlsx',
 '2008.xlsx',
 '2009.xlsx',
 '2010.xlsx',
 '2011.xlsx',
 '2012.xlsx',
 '2013.xlsx',
 '2014.xlsx',
 '2015.xlsx',
 '2016.xlsx',
 '2017.xlsx',
 '2018.xlsx',
 '2019.xlsx',
 '2020.xlsx',
 '2021.xlsx',
 '2022.xlsx',
 '2023.xlsx',
 'cleaned_data']

In [2]:
data = pd.read_excel('../data/2000.xlsx', sheet_name='By-HS6Product', index_col=0)

print(data)

               TradeFlow  ProductCode           Product Description  Year  \
Reporter
United States     Import       760120  Aluminium unwrought, alloyed  2000
European Union    Import       760120  Aluminium unwrought, alloyed  2000
Germany           Import       760120  Aluminium unwrought, alloyed  2000
Japan             Import       760120  Aluminium unwrought, alloyed  2000
Italy             Import       760120  Aluminium unwrought, alloyed  2000
...                  ...          ...                           ...   ...
Nicaragua         Import       760120  Aluminium unwrought, alloyed  2000
Oman              Import       760120  Aluminium unwrought, alloyed  2000
Andorra           Import       760120  Aluminium unwrought, alloyed  2000
Zambia            Import       760120  Aluminium unwrought, alloyed  2000
Senegal           Import       760120  Aluminium unwrought, alloyed  2000

               Partner  Trade Value 1000USD      Quantity Quantity Unit
Reporter
United States    World           2609966.13  1.581350e+09            Kg
European Union   World           2133012.56  1.263560e+09            Kg
Germany          World           1552910.00  9.757530e+08            Kg
Japan            World           1399024.38  9.416110e+08            Kg
Italy            World            657308.47           NaN           NaN
...                ...                  ...           ...           ...
Nicaragua        World                 0.58  1.000000e+01            Kg
Oman             World                 0.52  8.100000e+01            Kg
Andorra          World                 0.38  2.070000e+02            Kg
Zambia           World                 0.13  1.700000e+02            Kg
Senegal          World                 0.02  2.300000e+01            Kg

[118 rows x 8 columns]

In [3]:
data.describe()

       ProductCode    Year  Trade Value 1000USD      Quantity
count        118.0   118.0         1.180000e+02  1.140000e+02
mean      760120.0  2000.0         1.180842e+05  7.216184e+07
std            0.0     0.0         3.689370e+05  2.288707e+08
min       760120.0  2000.0         2.000000e-02  1.000000e+01
25%       760120.0  2000.0         3.289000e+01  1.851875e+04
50%       760120.0  2000.0         3.191150e+03  1.717750e+06
75%       760120.0  2000.0         4.924640e+04  2.978380e+07
max       760120.0  2000.0         2.609966e+06  1.581350e+09

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, United States to Senegal
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TradeFlow            118 non-null    object
 1   ProductCode          118 non-null    int64
 2   Product Description  118 non-null    object
 3   Year                 118 non-null    int64
 4   Partner              118 non-null    object
 5   Trade Value 1000USD  118 non-null    float64
 6   Quantity             114 non-null    float64
 7   Quantity Unit        114 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 8.3+ KB

In [5]:
from data_cleaning import join_data, clean_data

#join all files
data = join_data(files)

data

,Countries,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albania,11,4,17,431,1414,6627,6657,7366,7460,...,316,6457,10317,256,568,58,3174,243,3592,12175
1,Algeria,5902,3955,2510,1571,981,1173,1317,1776,1385,...,10923,13049,13724,14314,NaN,NaN,NaN,NaN,NaN,NaN
2,Andorra,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,4,26,6,121,...,49,113,NaN,NaN,397,467,416,205,143,101
4,Antigua and Barbuda,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,623,387,290,206,227,291,153,75,521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Vietnam,328,572,1792,15023,32420,36563,49215,47108,53960,...,168642,169722,194280,214301,210444,239895,234978,257012,199389,NaN
190,Yemen,NaN,NaN,NaN,NaN,1,2,74,124,49,...,NaN,NaN,NaN,NaN,1,5,NaN,NaN,NaN,NaN
191,Zambia,NaN,NaN,1,3,NaN,93,9,26,8,...,30,56,23,14,69,14,32,18,26,24
192,Zimbabwe,39,42,3,3,188,205,49,2,20,...,NaN,NaN,NaN,151,25,126,NaN,NaN,283,25

In [6]:
#remove unwanted columns, kg to tonnes, filter desired countries and interpolate missing values
countries = ['United States', 'Italy', 'Germany', 'France', 'Portugal', 'United Kingdom', 'China', 'Spain', 'Japan']
cleaned_data = clean_data(data, countries)
cleaned_data.to_csv('../data/cleaned_data/cleaned_data.csv', index=False)

cleaned_data

,Countries,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
35,China,299276,303256,311193,335649,335393,209477,222095,170772,138460,...,85998,70777,68647,69957,74480,215910,1234750,1154620,1278050,1132330
64,France,337326,324413,325981,324997,369796,366402,394956,443775,395784,...,384952,364321,417895,400150,426214,389028,351842,351842,351842,351842
69,Germany,975753,1026310,991695,1099140,1170880,1180240,1419890,1444290,1418540,...,1832000,1807480,1850680,1898500,1808930,1620695,1432460,1667700,1726740,1550530
87,Italy,329708,368761,407814,453088,472755,470487,506986,552772,440997,...,583722,553079,610722,648293,662190,664841,528287,719486,716297,546987
89,Japan,941611,796094,848330,899215,971488,989418,1137420,1128710,1169440,...,1125460,1070040,1102930,1192885,1282840,1082738,882636,1134670,1055750,1077760
143,Portugal,188701,170378,168535,186494,200367,225242,238483,221748,216588,...,74504,76509,86409,102983,127352,120644,113937,117142,120347,127754
160,Spain,146529,160822,175115,168244,235154,228322,281185,334048,283373,...,243822,258849,362439,384385,406331,406331,406331,406331,406331,406331
183,United Kingdom,171298,225323,162782,140942,124931,91875,127546,95038,97180,...,62549,72818,76094,76489,70375,70375,70375,70375,70375,70375
184,United States,1581350,1240320,1547450,1279400,1548730,1870400,1796280,1490980,1312510,...,1795210,1929650,2017680,2124690,2151614,2178538,2205462,2232386,2259310,1765130